:root { 
--light_blue_300:#5dceff; 
--black_900_7a:#0000007a; 
--red_300:#f26674; 
--blue_A100:#82bcf4; 
--light_green_300:#b5e08c; 
--deep_purple_600:#6418c3; 
--light_green_400:#9dcc6b; 
--red_400:#db5669; 
--light_blue_400:#1bbaff; 
--amber_A100:#ffde76; 
--green_500:#37e25d; 
--black_900_1e:#0000001e; 
--light_blue_800:#066dcd; 
--black_900:#060419; 
--gray_500_01:#a4a4a4; 
--blue_gray_700:#464365; 
--blue_gray_900:#1e1b3a; 
--pink_400:#e328af; 
--gray_400:#c4c4c4; 
--black_900_0a:#0000000a; 
--gray_500:#aaaaaa; 
--red_A200:#ff4a55; 
--gray_900:#15132b; 
--gray_900_01:#0d0b21; 
--amber_300:#ffcc66; 
--orange_400:#ffaa2c; 
--teal_A200:#4ff3fd; 
--gray_100:#f5f5f5; 
--indigo_300:#7879f1; 
--gray_400_01:#c6c6c6; 
--blue_300:#6fabe6; 
--indigo_900:#211974; 
--white_A700:#ffffff; 
--light_blue_300_1e:#5dceff1e; 
}